

<div class="profile">
    <p class="username"><b>Name:</b> test test</p>
   <button class="delete-profile">DELETE PROFILE</button>
    <div class="post-list">
        <h2>My posts</h2>
        <div >
            <p>My first post</p>
            <button class="edit-btn">EDIT</button>
            <button class="delete-btd">DELETE</button>
        </div>
        <div >
            <p>My next post</p>
            <button class="edit-btn">EDIT</button>
            <button class="delete-btd">DELETE</button>
        </div>
    </div>
    <div class="add-post">
        <button routerLink="/new" class="add-post-btn">ADD NEW POST</button>
    </div>
</div>