<header>
    <div class="navbar-wrap">
        <p routerLink="" class="logo-wrap">
            <a class="logo">DESIGN & ACHITECTURE BLOG</a>
        </p>

        <ul>
            <li><a routerLink="/home">Home</a> </li>
           
            <li ><a routerLink="/register">Register</a> </li>
            <li ><a routerLink="/login">Login</a> </li>
            <li ><a routerLink="/profile">Profile</a> </li>
            <li ><a routerLink="/home">Logout</a> </li>
            <li><a routerLink="/search">Search</a> </li>
        </ul>
    </div>

</header>
