<div class="post-detail">
        <h2> Home office Home office Home office Home office </h2>
        <div class="article-content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <p class="author"> <b>Author:</b> <i>Ivan Ivanov</i></p>
       <button routerLink="/home" class="back-btn">BACK</button>
    
</div>



