<div class="home">
    
    <div class="article">
        <span><img src="" alt=""></span>
        
        <h2> Home office Home office</h2>
        <p class="author">Ivan Ivanov</p>

       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
       
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
      
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
      
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
      
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
       
    </div>

    <div class="article">
        <span><img src="./posts/images/img1.jpg" alt=""></span>
        
        <h2>Home office</h2>
        <p class="author">Ivan Ivanov</p>
       <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, maxime, quo nesciunt earum deleniti magni vero culpa ad, debitis sapiente molestias necessitatibus ut assumenda eaque. Neque officia praesentium totam.</p>
       </div>
       <button class="read-btn">READ MORE</button>
      
    </div>
    
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    
</div>


  
  